<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<title>Área</title>

	<!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>

<body background="{% static 'tu.jpg' %}" style="background-repeat: no-repeat; background-size: 100%">

<h2>Tipos de documentos</h2>
<div class="container">
	<a href="{% url 'doc' %}"><button type="button" class="btn btn-danger" style="width: 200px; height: 130px; -webkit-border-radius: 40px"><img src="{% static 'dow.png' %}" width="45x" height="50px">  TODOS OS DOCS</button></a>

	{% for categ in categorias %}
	<a href="{% url 'doc' %}">

		<button type="button" class="btn btn-info" style="width: 200px; height: 130px; -webkit-border-radius: 40px">
			<img src="{% static 'dow.png' %}" width="50px" height="50px">    {{ categ.nome }}
		</button>
	</a>
	{% empty %}
	<p>Não há nehum tipo de documento cadastrado!</p>
	{%endfor%}
<!--
<div>
    <div class="row">
       <div class="col-sm-12">
          <form action="." method="GET" class="form-inline">
            <input type="text" id="search" name="search" class="form-control" placeholder="Busca" style="width: 50%">
            <input type="submit" class="btn btn-info" style="margin-left: 10px; width: 10%" value="OK">
          </form>
        </div>  
      </div>
-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>