@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

.container{
  position: relative;
  margin: 5% auto;
  width: 800px;
  height: 600px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.cadastro {
  box-sizing: border-box;
  padding: 40px;
  width: 500px;
  height: 500px;
}

h1 {
  margin: 0 1 10px 0;
  font-size: 28px;

}
.a{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
 
}
.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  background-size: cover;
  border-radius: 0 2px 2px 0;

}
